 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  min-height: 100vh;
  background: url(https://www.fmsc.com.tw/ch/tw/images/about/a/01.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background:hsla(46, 99%, 49%, 0.755);
  backdrop-filter: blur(50px);
  z-index: -1;
  }
  
  .header::after {
  content: "";
  position: absolute;
  top:0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,transparent, rgba(255,255,255,0.4),transparent);
  transition: 0.5s;
  }
  .header:hover::after{
    left:100%;
  }

.logo{
  font-size: 2rem ;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.logoph{
  width: 100px;
  height: 40px;
}
.navbar a {
  font-size: 1.15rem;
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-weight: 700;
  margin-left: 2.5rem; 
}
#check{
  display: none;
}
.icons{
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.container{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   flex-flow: wrap;
   margin-top: 65px;
}
.box{
   width: 25%;
   height: auto;
   background:rgba(242, 83, 10, 0.15);
   margin: 20px;
   box-sizing: border-box;
   font-size: 20px; 
       
}
.box .prodimg{
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;  
  }
.box .prodname{
  color:rgba(255, 25, 0, 0.851);
  text-align: center;    
}
.box .prodtext{
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  font-size: 18px;
}
@media(max-width:1050px){
  .header{
    padding: 10px 5%;
  }
  .navbar a {
    margin-left: 1rem; 
  }
  .box{
    width: 40%;            
     }
}
@media(max-width:800px){
  .icons{
    display: inline-flex;
  }
  
  #check:checked~.icons #menu-icon {
    display: none;
  }
  
  .icons #close-icon{
    display: none;
  }

  #check:checked~.icons #close-icon{
    display: block;
  }

  .navbar{
    position: absolute;
    top:100%;
    left: 0;
    width:100%;
    height: 0;
    background:rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(50px);
    box-shadow: 0.5rem 1rem rgba(0, 0 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
    }
    #check:checked~.navbar {
      height: 20rem;
    }
    
  .navbar a{
    display: block;
    font-size: 1.1rem;
    color: rgb(245, 241, 241);
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px); 
    opacity:0;
    transition: 0.3s ease;
       
  }
  #check:checked~.navbar a{
    transform: translateY(0px);
    opacity:1;
    transition-delay: calc(0.15s*var(--i));
  }
  .box{
    width: 90%;            
     } 
  }